#button {
    height: 20px;
    width: 40px;

}

.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px 30px;
    background-color: rgb(227, 235, 239);
}

.logo-container>img {
    width: 200px;
    height: 100px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 22px;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.card {
    overflow: hidden;
    width: 350px;
    height: 500px;
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
}

.card:hover {
    border: 1px solid rgb(83, 58, 58);
}

.card>img {
    height: 280px;
    width: calc(100% - 10px);
    padding: 5px;

}

.res-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.con-footer {
    position: sticky;
    bottom: 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(9, 16, 65);
    color: white;
}

.search {
    display: flex;
}
